.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: cornflowerblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Background gradient source from Laura Robertson:
   https://codepen.io/LauraRobertson/pen/eBjrgj */
body {
  background: linear-gradient(90deg, #cfecd0, #ffc5ca);
  display: flow;
}

.text-on-top {
  vertical-align: top;
}

.input {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-top: 50px;
  justify-content: center;
}

.input textarea {
  position: relative;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.input button {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 5px;
  margin-left: 15px;
  border-radius: 25px;
  border: 2px #cfecd0;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px #333;
  overflow: hidden;
  transition: .3s;
}

.delete-button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 25px;
  padding: 0 2px 15px 2px;
  border: 2px solid rgb(7, 7, 7);
  background-color: rgba(231, 50, 50, 0.03);
  cursor: pointer;
  box-shadow: 0 0 5px #333;
  overflow: hidden;
  transition: .3s;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: rgb(245, 207, 207);
  transform: scale(1.2);
  box-shadow: 0 0 4px #111;
  transition: .3s;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
